<a href="https://colab.research.google.com/github/cri10dm-4/DSA-5620/blob/main/ICP1/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **2**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **5**

## **a**

In [53]:
s = input("Input the string: ")

#python

Input the string: python

In [54]:
s = s[:-2]
s = s[::-1]
print(s)

htyp

# **b**

In [55]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

Enter first number: 8
Enter second number: 2

In [56]:
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
if b != 0:
    print("Division:", a / b)

Addition: 10
Subtraction: 6
Multiplication: 16
Division: 4.0

# **6**

In [57]:
sentence = input("Enter a sentence with word python: ")

#I love playing with python

Enter a sentence with word python: I love playing with python

In [58]:
print(sentence.replace('python', 'pythons'))

I love playing with pythons

# **7**

In [59]:
score = float(input("Enter your class score: "))

Enter your class score: 91

In [60]:
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else:
    print("F")

A

# **8**

In [61]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

# **9**

In [80]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [81]:
# Find the length of the set IT_companies
print(len(IT_companies))

7

In [82]:
# Add 'Twitter' to IT_companies
IT_companies.add('Twitter')
print(IT_companies)

{'Google', 'IBM', 'Facebook', 'Microsoft', 'Apple', 'Amazon', 'Twitter', 'Oracle'}

In [83]:
# Insert multiple IT companies at once to the set IT_companies
IT_companies.update({'ServiceNow', 'Adobe'})
print(IT_companies)

{'Google', 'IBM', 'ServiceNow', 'Amazon', 'Oracle', 'Facebook', 'Microsoft', 'Apple', 'Adobe', 'Twitter'}

In [84]:
# Remove one of the companies from IT_companies
IT_companies.remove('Oracle')
print(IT_companies)

{'Google', 'IBM', 'ServiceNow', 'Amazon', 'Facebook', 'Microsoft', 'Apple', 'Adobe', 'Twitter'}

In [ ]:
### What is the difference between remove and discard?

remove() raises an error if the element is not present, discard() does not.

In [85]:
IT_companies.remove('Oracle')

KeyError: 'Oracle'

In [86]:
IT_companies.discard('Oracle')

In [69]:
# Join A and B
print( A | B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [87]:
# Find A intersection B
print( A & B)

{19, 20, 22, 24, 25, 26}

In [88]:
# Is A subset of B
print("A is subset of B:", A.issubset(B))

A is subset of B: True

In [89]:
# Are A and B disjoint sets
print("A and B disjoint:", A.isdisjoint(B))

A and B disjoint: False

In [91]:
# Join A with B and B with A
print("A union B:", A | B)
print("B union A:", A | B)

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}

In [92]:
# Symmetric difference between A and B
print("Symmetric difference (A^B):", A^B)

Symmetric difference (A^B): {27, 28}

In [93]:
# Delete the sets completely
del IT_companies
del A
del B

In [94]:
# Convert ages to a set and compare the length of the list and set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of age list: 8
Length of age set: 5