<a href="https://colab.research.google.com/github/cri10dm-4/DSA-5620/blob/main/ICP2/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1**

In [1]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, class count: 3
Instance count: 1, class count: 3

• Explain the difference between Counter.count and self._count.

Counter.count is considered as a  class variable and will be shared by all objects but self._count is considered as the variable of a specific object and will be effected only when the function is called by the specific object.

• What is the output of a.get_counts() and b.get_counts()?

Instance count: 2, class count: 3

Instance count: 1, class count: 3

• How does the increment method affect both the class and instance variables?

Class Variable Count is incremented every time based the previous value irrespective of which object is used to call increment function.

Instance Variable is incremented based on the previous value when it was incremented by that specific instance.

## **2**

In [2]:
def sum_all(args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

TypeError: sum_all() takes 1 positional argument but 3 were given

In [3]:
#Fix 1
def sum_all(args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all([1, 2, 3])) # Make the parameters as list
print("Sum of 4, 5, 6, 7 is:", sum_all([4, 5, 6, 7]))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [4]:
#Fix 2
def sum_all(*args): # Allow multiple parameters
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

# **3**

In [5]:

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']

def first_word(words):
    sorted_words = sorted(words)
    return sorted_words[0]

print(first_word(students))

Bartholomew

# **4**

Create a class Employee

In [6]:
class Employee:
    pass

Create a data member to count the number of Employees

In [7]:
Employee.number_of_employees = 0

Create a constructor to initialize name, family, salary, department

In [8]:
def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
Employee.__init__ = __init__

Create a function to average salary

In [9]:
def average_salary(employees):
    total = sum(emp.salary for emp in employees)
    count = len(employees)
    return total / count if count > 0 else 0

Employee.average_salary = staticmethod(average_salary)

Create a Fulltime Employee class and it should inherit the properties of Employee class

In [10]:
class FulltimeEmployee(Employee):
    pass

Create the instances of Fulltime Employee class and Employee class and call their member functions

In [11]:
f1 = FulltimeEmployee("AAAA", "X", 20000, "1111")
f2 = FulltimeEmployee("BBBB", "X", 40000, "1111")
e1 = Employee("YYYY", "X", 50000, "22222")
e2 = Employee("ZZZZZ", "X", 50000, "2222")


print(Employee.average_salary([e1,e2]))
print(FulltimeEmployee.average_salary([f1,f2]))

50000.0
30000.0