<a href="https://colab.research.google.com/github/cri10dm-4/DSA-5620/blob/main/ICP2/ICP2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())  # What will this print?
print(b.get_counts())  # What will this print?

Instance count: 2, class count: 3
Instance count: 1, class count: 3

Explain the difference between Counter.count and self._count.

Counter.count is a class variable. It is shared by all instances of the class. If you change Counter.count, it changes for every instance.

self._count is an instance variable. Each object (like a or b) has its own separate _count value.

What is the output of a.get_counts() and b.get_counts()?

print(a.get_counts())
Output: Instance count: 2, class count: 3

print(b.get_counts())
Output: Instance count: 1, class count: 3

How does the increment method affect both the class and instance variables?
When you call increment() on an object (e.g., a.increment()), it:

Increases self._count (only for that object).

Increases Counter.count (shared across all objects).

So, every time increment() is called (no matter which object), the class variable Counter.count goes up by 1, but the instance variable self._count goes up only for that specific instance.

In [ ]:
def sum_all(args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Bug:
The function definition should use *args instead of just args.

*args allows the function to accept any number of arguments, not just one tuple/list.

In [2]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [3]:
def first_word(word_list):
    sorted_list = sorted(word_list)
    return sorted_list[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

Create a class Employee and then do the following


Create a data member to count the number of Employees


Create a constructor to initialize name, family, salary, department


Create a function to average salary


Create a Fulltime Employee class and it should inherit the properties of Employee class


Create the instances of Fulltime Employee class and Employee class and call their member functions

In [8]:
class Employee:
    employee_count = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

    @staticmethod
    def average_salary(employees):
        Employee.employee_count = len(employees)
        total = sum(emp.salary for emp in employees)
        return total / Employee.employee_count if Employee.employee_count > 0 else 0

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


e1 = Employee("John", "Smith", 50000, "IT")
e2 = Employee("Jane", "Doe", 60000, "HR")
f1 = FulltimeEmployee("Mike", "Brown", 70000, "Finance")

all_employees = [e1, e2, f1]
print("Average Salary:", Employee.average_salary(all_employees))
print("Total Employees:", Employee.employee_count)

Average Salary: 60000.0
Total Employees: 3